*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Anybody', cursive;
}

body{
  background-color: rgb(134, 134, 134)
}


.boardcontainer{
  display: flex;
  gap: 50px;
  justify-content: center;
}

.computergrid,
.playergrid{
  display: grid;
  background-color: red;
  grid-template-columns: repeat(10, 60px);
}

.squareDiv{
  height: 50px;
  background-color: orange;
  font-size: 2rem;
}

.battleshipmessage{
  display: flex;
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 50px;
}

.placemessage{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.active,
.activeship{
  background-color: red;
}

.hidden{
  display: none;
}


.attacked{
  background-color: black;
}

.hitship{
  background-color: red;
}