*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Anybody', cursive;
}

body{
  background-color: black
}


.boardcontainer{
  display: flex;
  gap: 50px;
  justify-content: center;
}

.computergrid,
.playergrid{
  display: grid;
  background-color: rgb(0, 110, 255);
  grid-template-columns: repeat(10, 60px);
}

.squareDiv{
  height: 50px;
  background-color: orange;
  font-size: 2rem;
  border: 1px solid black;
  box-shadow: 2px 2px 12px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.squareDiv:hover{
  cursor: pointer;
}

.battleshipmessage{
  color: rgb(39, 77, 245);
  display: flex;
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 3rem;
}

.placemessage{
  color: green;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.active,
.activeship{
  background-color: rgb(255, 30, 0);
}

.hidden{
  display: none;
}


.attacked{
  background-color: black;
  color: black;
}

.hitship{
  background-color: red;
}