body{
  background-color: rgb(134, 134, 134)
}

.grid{
  display: grid;
  height: 600px;
  width: 600px;
  background-color: red;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.squareDiv{
  background-color: orange;
  font-size: 2rem;
}

